<div class="individual-comment-container" id="<%= @comment.id %>">
  <div class="comment-author-picture"></div>

  <div class="comment-author-name">
    <%= @comment.user.username %>
  </div>

  <div class="post-comment">
    <p><%= @comment.body %></p>
  </div>

  <div class="like-and-comment-section" id="comment-like-and-comment-section">
    <img src="images/clappy-hands.png">
    <button class="comment-kudos-vote">Kudos <%= @comment.likes.count %></button>
  </div>
</div>