<div class="container" id="container">
  <h1>employed boots</h1>
  <% @users.each do |user| %>
    <div class="user-box">
      <div class="user-picture"></div>
      <div class="user-name">
         <a href="/users/<%= user.id %>"><%= user.username %></a> 
      </div>
      <% if user.jobs.any? %>
        <p class="job-title"><%= user.jobs.first.title %></p>
        <p class="job-company"><%= user.jobs.first.company.name %></p>
      <% end %>
      <div class="buttons">
        <button class="connect-button">Connect</button>
      </div>
    </div>
  <% end  %>
</div>