<div class="big-picture">
  <h1 class="page-title">boots on the ground</h1>
  <p class="page-description">a place to find what boots are up to post bootcamp</p>
  <div class="log-button">
    <button class="log-in-home-button">log in</button>
  </div>
  <p class="explore">explore</p>
  <div class="arrow">
    <i class="fa fa-arrow-down fa-3x"></i>
  </div>
</div>

<div class="about">
  <div class="descriptions">
    <div class="first-description">
      <p class="a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
      </p>
    </div>
    <div class="second-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
      </p>
    </div>
  </div>
  <div class="dbc-image">
    
  </div>
  <div class="blank-space">
    
  </div>
</div>

<div class="jobs">
  <div class="carousel">
    
  </div>
  <div class="section-description right right-desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </div>
</div>

<div class="projects">
  <div class="carousel right">
    
  </div>
  <div class="section-description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </div>
</div>

<div class="testimonials">
  <div class="carousel ">
    
  </div>
  <div class="section-description right right-desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </div>
</div>

<div class="boots-in-the-world">
  <h1>boots in the world</h1>
</div>