<div class="big-picture">
  <h1 class="page-title">boots on the ground</h1>
  <p class="page-description">a place to find what boots are up to post bootcamp</p>
</div>

<div class="about">
  <div class="descriptions">
    <div class="first-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
      </p>
    </div>
    <div class="second-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
      </p>
    </div>
  </div>
  <div class="dbc-image">
    
  </div>
  <div class="blank-space">
    
  </div>
</div>

<div class="jobs">
  <h1 class="section-title">jobs</h1>
</div>

<div class="projects">
  <h1 class="section-title">projects</h1>
</div>

<div class="testimonials">
  <h1 class="section-title">testimonials</h1>
</div>