<%= render './layouts/login' %>
<%= render './layouts/signup' %>
<div class="home-header">
  <button class="boots-button scroll-buttons">boots on the ground</button>
  <button class="boots-in-the-world-button scroll-buttons">boots in the world</button>
  <button class="testimonials-button scroll-buttons">testimonials</button>
  <button class="projects-button scroll-buttons">projects</button>
  <button class="jobs-button scroll-buttons">jobs</button>
  <button class="about-button scroll-buttons scroll-to-about">about</button>
</div>

<div class="big-picture">
  <h1 class="page-title">boots on the ground</h1>
  <p class="page-description">a place to find what boots are up to post bootcamp</p>
  <div class="log-button">
    <% if current_user %>
      <a href="/users/<%= current_user.id %>"><button class="log-in-home-button">view profile</button></a>
    <% else %>
      <button class="log-in-home-button" onclick="openLogin()">log in</button><br><br>

      <!--       <button class="sign-up-home-button" onclick="openSignUp()">register</button> -->
    <% end %>
  </div>
  <p class="explore">explore</p>
  <div class="arrow">
    <i class="fa fa-arrow-down fa-3x scroll-to-about"></i>
  </div>
</div>

<div class="about">
  <div class="descriptions">
    <div class="first-description">
      <p class="a">Devbootcamp has helped more than 2,700 students develop careers in tech
      </p>
    </div>
    <div class="second-description">
      <p>The legacy will live on through the community of boots continuing to impact the world
      </p>
    </div>
  </div>
  <div class="dbc-image">
  </div>
  <div class="blank-space">
  </div>
</div>

<div class="jobs">
  <div class="carousel">
    <img class="jobSlide" src="https://unsplash.it/1250/800?image=671" style="height: 400px; width: 550px;">
    <img class="jobSlide" src="https://unsplash.it/1250/800?image=72" style="height: 400px; width: 550px;">
    <img class="jobSlide" src="https://unsplash.it/1250/800?image=472" style="height: 400px; width: 550px;">
  </div>
  <div class="section-description right right-desc">
    <p>Alumni are currently working at ____, ____, ____, and ___, just to name a few. </p>
  </div>
</div>

<div class="projects">
  <div class="carousel right">
  <img class="projectSlide" src="https://unsplash.it/1250/800?image=721" style="height: 400px; width: 550px;">
    <img class="projectSlide" src="https://unsplash.it/1250/800?image=272" style="height: 400px; width: 550px;">
    <img class="projectSlide" src="https://unsplash.it/1250/800?image=572" style="height: 400px; width: 550px;">
  </div>
  <div class="section-description">
    <p>Check out the beautiful and meaningful things they've made.</p>
  </div>
</div>

<div class="testimonials">
  <div class="carousel ">
  <img class="testimonialSlide" src="https://unsplash.it/1250/800?image=661" style="height: 400px; width: 550px;">
<!--     <img class="testimonialSlide" src="https://unsplash.it/1250/800?image=42" style="height: 400px; width: 550px;">
    <img class="testimonialSlide" src="https://unsplash.it/1250/800?image=772" style="height: 400px; width: 550px;"> -->
  </div>
  <div class="section-description right right-desc">
    <p>What we have to say:</p>
  </div>
</div>

<div class="boots-in-the-world">
  <h1>Where we are now</h1>
<!--   <div class="dbc-placeholder-pic">

  </div> -->
</div>