<div class="search">
  <span class="material-icons search-icon">search</span>
  <input type="text" name="" placeholder="search companies">
  <button>Search</button>
</div>
<div class="card-container" >
  <%= render 'company_card' %>
</div>


