// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  font-family: 'Source Sans Pro', sans-serif;
}
.right {
  float: right;
}

@media (max-width: 1311px) {
  .right-desc {
    margin-left: 25px;
  }
  .left-desc {
    margin-left: 25px;
  }
}

@media (max-width: 1180px) {
  .section-description {
    display: block;
  }
  .jobs,
  .projects {
    height: 700px;
  }

  .testimonials {
    height: 750px;
  }

  .carousel {
    margin: auto;
    margin-bottom: 20px;
    display: block;
    width: 500px;
  }
  .testimonialText {
    left: 0;
    margin-top: 0px;
  }
  .home-header {
    display: none;
  }
  .section-description {
    margin-top: 1em;
  }
  .jobSlide {
    margin: auto;
  }
  .right {
    float: none;
  }
  .right-desc {
    margin: auto;
  }
  .left-desc {
    margin: auto;
  }
}

@media only screen and (max-width: 845px) {
  .scroll-buttons {
    font-size: 15px;
  }
  .dbc-image {
    display: none;
  }
  .carousel {
    width: 450px;
  }
  .testimonialText {
    font-size: 27px;
    margin-top: 0px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 700px) {
  .center {
    width: 90%;
  }
  .big-picture {
    width: 100%;
    p {
      width: 80%;
    }
  }
  .page-description {
    display: none;
  }

  .page-title {
    padding-top: 0px;
    font-size: 70px;
  }
  .log-button {
    padding-top: 190px;
  }
  .home-header {
    background-color: transparent;
  }
  .scroll-buttons {
    display: none;
  }
  .first-description,
  .second-description {
    p {
      font-size: 25px;
    }
  }
  .first-description {
    padding-top: 30px;
  }
  .carousel {
    width: 450px;
    padding-left: 0em;
  }
  .jobSlide {
    width: 100%;
    padding: 0px;
  }
  .section-description {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .carousel {
    width: 80%;
  }
  .boots-in-the-world {
    h2 {
      font-size: 25px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .testimonials {
    h2 {
      margin-top: 0.5em;
    }
  }
}

@media only screen and (max-width: 450px) {
  .no-link {
    display: none;
  }
  .link {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .first-description,
  .second-description {
    p {
      font-size: 20px;
    }
  }
  .testimonialText {
    font-size: 24px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .section-description {
    h2 {
      font-size: 25px;
    }
  }
}

@keyframes big-picture {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    transform: translate3d(0, 2em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes title {
  0% {
    transform: translate3d(2em, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.big-picture {
  height: 100vh;
  width: 100%;
  background-image: image-url("matthew-henry-6205.jpg");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  animation: big-picture 4s forwards;
  opacity: 0;
}

.page-title {
  color: #fff;
  font-weight: 900;
  font-size: 70px;
  height: 50px;
  width: 800px;
  margin: auto;
  padding-top: 200px;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #000;
  letter-spacing: 0.025em;
  animation: big-picture 3s 2s forwards;
  opacity: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.page-description {
  color: white;
  font-size: 25px;
  width: 800px;
  margin: auto;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #000;
  padding-top: 40px;
  padding-bottom: 20px;
  animation: big-picture 3s 2s forwards;
  opacity: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.log-in-home-button {
  font-weight: 800;
  font-size: 25px;
  width: 150px;
  height: 50px;
  background-color: #3fbfb8;
  border: none;
  border-radius: 5px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #000;
  cursor: pointer;
  animation: big-picture 3s 2s forwards;
  opacity: 0;
  transition: all 1s ease;
  &:hover {
    background-color: #3aafa9;
  }
}

.link {
  display: none;
  a {
    color: white;
    text-decoration: none;
  }
}

.log-button {
  width: 160px;
  margin: 30px auto;
}

.arrow {
  text-shadow: 0.5px 0.5px 0.5px #000;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  animation: arrow 1s 4.2s forwards;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  .arrow-icon {
    color: white;
    font-size: 45pt;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    font-weight: 200;
    transition: 2s all ease;
    &:hover {
      border-color: #3fbfb8;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.carousel {
  height: 400px;
  width: 550px;
  margin: 0;
  display: inline-block;
  position: relative;
}

.slides {
  animation: big-picture 4s forwards;
  opacity: 1;
}

.section-description {
  width: 40%;
  display: inline-block;
  color: white;
  margin: 6em auto;
  p {
    padding-top: 10px;
    border-top: 2px solid #3fbfb8;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 20px;
    font-size: 16pt;
  }

  h2 {
    letter-spacing: 0.05em;
    font-size: 30pt;
  }
}

.right-desc {
  margin-right: 6em;
}

.left-desc {
  margin-left: 6em;
}

/*HEADER*/

.home-header {
  display: none;
  height: 50px;
  width: 100%;
  background-color: #17252a;
  position: fixed;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 1;
}

.scroll-buttons {
  font-weight: 800;
  float: right;
  font-size: 20px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
  margin: 10px 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  &:hover {
    color: #3fbfb8;
  }
}

.boots-button {
  float: none;
  text-transform: uppercase;
  font-weight: 800;
}

/*ABOUT*/

.about {
  background-color: #3aafa9;
  height: 100vh;
}

.descriptions {
  width: 60%;
  margin: auto;
  text-align: center;
}

.first-description {
  padding-top: 100px;
  border-bottom: solid 2px white;
  p {
    line-height: 1.6;
    letter-spacing: 0.225em;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 25px;
  }
}

.second-description {
  padding-top: 25px;
  p {
    line-height: 1.6;
    letter-spacing: 0.225em;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 50px;
  }
}

.dbc-image {
  margin: 50px auto 0 auto;
  height: 206px;
  width: 500px;
  background-image: url("http://www.sandiegobusiness.org/sites/default/files/images/DBC_S_2C_RGB_500w.jpg");
  margin-bottom: 10px;
}

.blank-space {
  height: 100px;
}

/*JOBS*/

.jobs {
  height: 400px;
  width: 100%;
  background-color: rgba(23, 37, 42, .93);
}

.jobSlide {
  transition: all 1s ease-in-out;
  width: 80%;
  margin-left: 2em;
}

/*PROJECTS*/

.projects {
  height: 400px;
  width: 100%;
  background-color: rgba(23, 37, 42, .96);
}

.project-pics {
  height: 400px;
  width: 100%;
}

/*TESTIMONIALS*/

.testimonials {
  height: 400px;
  width: 100%;
  background-color: #17252a;
}

.testimonialSlide {
  height: 400px;
  width: 550px;
}

.testimonialText {
  position: absolute;
  top: 0;
  left: 30px;
  width: 100%;
  font-size: 25pt;
  text-align: center;
  color: white;
  font-family: 'Satisfy', cursive;
}

/*BOOTS IN THE WORLD*/

.boots-in-the-world {
  height: 25%;
  background-color: #236361;
  h2 {
    width: 40%;
    text-align: center;
    color: white;
    margin: auto;
    letter-spacing: 0.05em;
    font-size: 30pt;
    border-bottom: 2px solid #3fbfb8;
    padding: 10px;
  }
}

.bootSlide {
  width: 100%;
  height: 100%;
}

.center {
  margin: 40px auto 0 auto;
  width: 50%;
  height: 80%;
  margin-bottom: 5%;
}

/*LOGIN*/

.login-popup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
  font-weight: 900;
}

.signup-popup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
}

.login-popup {
  padding-top: 150px;
}

.signup-popup {
  padding-top: 150px;
}

.logx {
  top: 0;
  margin-left: 30px;
  font-size: 36px;
  margin-left: 5px;
  width: 50px;
  text-decoration: none;
  color: black;
}

.x {
  margin-left: 10px;
}

.oauth-login {
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  width: 285px;
  text-align: center;
  font-size: 16pt;
  border-style: none;
  border-radius: 5px;
  background-color: #0077b5;
  cursor: pointer;
  font-weight: 400;
  a {
    color: white;
    text-decoration: none;
  }
  i {
    font-size: 16pt;
    color: white;
    margin-right: 4px;
  }
}

.linkedin-logo {
  height: 100px;
  width: 100px;
  background-color: #0077b5;
  text-align: center;
  i {
    color: white;
  }
}

/*MEDIA QUEREY*/


