// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-picture {
  height: 100vh;
  width: 100%;
  background-image: url("https://unsplash.it/1250/800?image=672");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}

/*bus 672*/
/*building feet 817*/

.page-title {
  color: white;
  font-size: 50px;
  height: 50px;
  width: 950px;
  margin: auto;
  padding-top: 250px;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #000;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.page-description {
  color: white;
  font-size: 25px;
  width: 800px;
  margin: auto;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px black;
  padding-top: 40px;
}

.testimonials {
  height: 500px;
  width: 100%;
}

/*ABOUT*/

.about {
  height: 500px;
  background-color: #00cc99;
}

/*JOBS*/

.jobs {
  height: 500px;
}

/*PROJECTS*/

.projects {
  height: 500px;
}

/*TESTIMONIALS*/

.testimonials {
  height: 500px;
}
