// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes big-picture {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    transform: translate3d(0, 2em, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes title {
  0% {
    transform: translate3d(2em, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.big-picture {
  height: 100vh;
  width: 100%;
  background-image: url("https://unsplash.it/1250/800?image=672");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  animation: big-picture 3s forwards;
  opacity: 0;
}

.page-title {
  color: white;
  font-size: 50px;
  height: 50px;
  width: 950px;
  margin: auto;
  padding-top: 200px;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px #000;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  animation: big-picture 3s 2s forwards;
  /*animation: title 3s forwards;*/
  opacity: 0;
  /*transform: translate3d(0, 0, 0);*/
}

.page-description {
  color: white;
  font-size: 25px;
  width: 800px;
  margin: auto;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px black;
  padding-top: 40px;
  animation: big-picture 3s 2s forwards;
  opacity: 0;
}

.log-in-home-button {
  font-size: 25px;
  width: 150px;
  height: 50px;
  background-color: #3fbfb8;
  border: none;
  border-radius: 5px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #000;
  cursor: pointer;
  animation: big-picture 3s 2s forwards;
  opacity: 0;
  &:hover {
    background-color: #3aafa9;
  }
}

.sign-up-home-button {
  font-size: 25px;
  width: 150px;
  height: 50px;
  background-color: #3fbfb8;
  border: none;
  border-radius: 5px;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px #000;
  cursor: pointer;
  &:hover {
    background-color: #3aafa9;
  }
}

.log-button {
  width: 160px;
  margin: 30px auto;
}

.explore {
  color: white;
  font-size: 25px;
  width: 200px;
  font-weight: 800;
  text-align: center;
  margin: 150px auto 0px auto;
  text-shadow: 0.5px 0.5px 0.5px #000;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  animation: arrow 1s 4.25s forwards;
  transform: translate3d(0, 0, 0);
  opacity: 0;
}

.arrow {
  text-shadow: 0.5px 0.5px 0.5px #000;
  width: 100px;
  margin: 20px auto;
  text-align: center;
  animation: arrow 1s 4.25s forwards;
  transform: translate3d(0, 0, 0);
  opacity: 0;
  .fa-arrow-down {
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
}

.carousel {
  height: 400px;
  width: 550px;
  margin: 0;
  display: inline-block;
}

.slides {
  animation: big-picture 4s forwards;
  /*background-color: white;*/
  opacity: 1;
}

.section-description {
  width: 550px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.225em;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  margin: 6em auto;
}

.right-desc {
  margin-right: 6em;
}

/*HEADER*/

.home-header {
  display: none;
  height: 50px;
  width: 100%;
  background-color: #17252a;
  position: fixed;
  transition: all 0.5s ease;
  opacity: 1;
  z-index: 1;
}

.scroll-buttons {
  float: right;
  font-size: 20px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: white;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  &:hover {
    color: #3fbfb8;
  }
}

.boots-button {
  float: none;
  text-transform: uppercase;
  font-weight: 800;
}

/*ABOUT*/

.about {
  background-color: #3aafa9;
  height: 100vh;
}

.descriptions {
  width: 60%;
  margin: auto;
  text-align: center;
}

.first-description {
  padding-top: 100px;
  border-bottom: solid 2px white;
  p {
    letter-spacing: 0.225em;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 15px;
  }
}

.second-description {
  padding-top: 15px;
  p {
    letter-spacing: 0.225em;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 50px;
  }
}

.dbc-image {
  margin: auto;
  height: 206px;
  width: 500px;
  background-image: url("http://www.sandiegobusiness.org/sites/default/files/images/DBC_S_2C_RGB_500w.jpg");
  margin-bottom: 10px;
}

.blank-space {
  height: 100px;
}

/*JOBS*/

.jobs {
  height: 400px;
  background-color: rgba(23, 37, 42, .952);
}

.jobSlide {
  transition: all 1s ease-in-out;
}

/*PROJECTS*/

.projects {
  height: 400px;
  background-color: rgba(23, 37, 42, .97);
}

/*TESTIMONIALS*/

.testimonials {
  height: 400px;
  background-color: #17252a;
}

/*BOOTS IN THE WORLD*/

.boots-in-the-world {
  height: 700px;
  background-color: #236361;
}

/*LOGIN*/

.login-popup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
}

.signup-popup {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  padding-top: 20px;
  float: right;
}

.login-popup {
  padding-top: 150px;
}

.signup-popup {
  padding-top: 150px;
}

.logx {
  top: 0;
  margin-left: 30px;
  font-size: 36px;
  margin-left: 5px;
  width: 50px;
  text-decoration: none;
  color: black;
}

.x {
  margin-left: 10px;
}

.oauth-login {
  /*height: 30px;*/
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  width: 285px;
  text-align: center;
  font-size: 16pt;
  border-style: none;
  border-radius: 5px;
  background-color: #0077b5;
  cursor: pointer;
  a {
    color: white;
    text-decoration: none;
  }
  i {
    font-size: 16pt;
    color: white;
    margin-right: 4px;
  }
}

.linkedin-logo {
  height: 100px;
  width: 100px;
  background-color: #0077b5;
  text-align: center;
  i {
    color: white;
  }
}

/*MEDIA QUEREY*/

@media (max-width: 1271px) {
  .right-desc {
    margin-right: 0px;
  }
}

@media (max-width: 1153px) {
  .jobs,
  .projects,
  .testimonials {
    height: 700px;
  }
  .right-desc {
    margin-right: 0;
  }

  .section-description {
    margin: 6em 25% 6em 25%;
  }
  .carousel {
    margin-left: 25%;
    margin-right: 25%;
    float: right;
  }
}
