// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  margin: 15px;
  width: 300px;
  height: 350px;
  display: inline-block;
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.34);
  transition: all 0.5s ease;
  vertical-align: top;
  .user-name {
    width: 300px;
    margin: 20px auto;
    text-align: center;
  }

  a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    &:hover {
      border-bottom: 2px solid;
    }
  }

  &:hover {
    box-shadow: 0px 0px 0px #fff;
    position: relative;
    top: 3px;
    background-color: white;
  }
}

.user-picture {
  height: 130px;
  width: 130px;
  margin: 10px auto;
  border-radius: 90px;
}

.image {
  height: 130px;
  width: 130px;
  border-radius: 90px;
}

.job-title {
  text-align: center;
  color: #8d8d8d;
}

.job-company {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

.buttons {
  width: 120px;
  margin: 20px auto;
}

.connect-button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  background: white;
  border: 1.5px solid #3aafa9;
  color: #3aafa9;
  cursor: pointer;
  &:hover {
    border-width: 3px;
    /*background-color: #eee;*/
  }
}

.profile-connect-button {
  width: 120px;
  height: 40px;
  font-size: 20px;
  background: white;
  border: 1.5px solid #3aafa9;
  color: #3aafa9;
  cursor: pointer;
  &:hover {
    border-width: 3px;
    /*background-color: #eee;*/
  }
}
