// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
}

/****** Form css ******/



.form-container {
  margin: auto;
  color: #DEF2F1;
  width: 400px;
  background-color: #17252A;
  border-radius: 5px;

}

.form-container h2 {
  padding-top: 30px;
  text-align: center;  
  margin-bottom: 25px;
 

}

.input-field{
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 276px;
  border-style: none;
  border-radius: 5px;
  font-size: 14pt;
  color: #DEF2F1;
  border: 1px solid #DEF2F1;
  background-color: #17252A;

}

.input-field-dropdown {
  display: block;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 300px;
  border-style: none;
  border-radius: 5px;
  font-size: 14pt;
  color: #DEF2F1;
  border: 1px solid #DEF2F1;
  background-color: #17252A;
}

select option {
  background-color:  red;
}
.form-submit-button{
  
  margin-left:50px;
  margin-right: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width: 300px;
  font-size: 18pt;
  color: white;
  border-style: none;
  border-radius: 5px;
  background-color: #3FBFB8;
  &:hover {
    background-color: #3AAFA9;
  }

}
/****** message board css ******/

.post-container{
  margin: auto;
  margin-bottom: 10px;
  width: 500px;
  border-radius: 5px;
  background-color: white;
  
}

.post-author-info{
  margin: auto;
  width: 480px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  
}

.author-picture{
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: lightgrey;
}

.author-name{
  display: inline-block;
  color: #236361;
  font-weight: bold;
  margin-top: 17px;
  margin-left: 5px;
  vertical-align: top;
  font-size: 12pt;
}

.post-main-content {
  margin: auto;
  width: 480px;
  padding-bottom: 10px;
  font-size: 12pt

}

.like-and-comment-section{
  margin: auto;
  width: 480px;
  padding-bottom: 10px;
  
  color: #236361;
}

.like-and-comment-section img{
  width: 35px;
}

.like-and-comment-section p{
  color: #DEF2F1;
  display: inline-block;
  padding-top: 16px;
  vertical-align: top;
}

.comment-container{
  width: 500px;
  background-color: rgb(246,247,249);
  padding-bottom: 10px;
}


.individual-comment-container{
  margin: auto;
  width: 480px;
  border-top: 1px solid rgba(35, 99, 97, 0.5);
  background-color: rgb(246,247,249);


}

.post-comment {
  width: 500px;

}

.comment-author-picture{
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  height: 40px;
  width: 40px;
  background-color: lightgrey;

}

.comment-author-name{
  display: inline-block;
  color: #236361;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
  vertical-align: top;
  font-size: 10pt;
}

.post-comment{
  width: 420px;
  margin-left: 60px;
  margin-top: -22px;
  padding-bottom: 10px;
  font-size: 10pt;
  
  
  

}


