// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-card {
  perspective: 1000px;
  display: inline-block;
  margin: 1em;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 5px;
  box-shadow: 0px 8px 30px -3px rgba(0, 0, 0, 0.34);
  &:hover {
    transition: all 0.5s ease;
    box-shadow: 0px 0px 0px #fff;
    position: relative;
    top: 3px;
    border: none;
  }
}

.project-card:hover .flipper,
.project-card.hover .flipper {
  transform: rotateY(180deg);
}

.project-card,
.front,
.back {
  width: 300px;
  height: 400px;
}

.project-image {
  width: 300px;
  height: 300px;
  border-bottom: 1px solid #eee;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.project-image-seed {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.project-title {
  width: 300;
  text-align: center;
  margin-top: 20px;
}

.project-title-front {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 300;
  text-align: center;
  margin-top: 30px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.project-description {
  width: 200;
  text-align: center;
  margin: 20px auto;
  max-height: 150px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: #8d8d8d;
  overflow: auto;
}

.project-url {
  width: 250px;
  margin: 20px auto;
  text-align: center;
  font-size: 10pt;
  /*overflow: auto;*/
}

#contributers-title {
  width: 250px;
  margin: 20px auto;
  text-align: center;
}

.contributer-name {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}
