<div class="header">
  <p class="boots-title">boots on the ground</p>
<!--   <% if current_user %>
    <p class="logout home-links"><%= link_to "logout", session_path(current_user), :method => :delete %></p>
  <% else %>
    <p class="login home-links"> <%= link_to "login", new_session_path %> </p>
  <% end %> -->
  <i class="fa fa-bars fa-2x" id="bars" onclick="openNav()"></i>
</div>