<div class="login-popup" id="login-popup">
  <div class="form-container">
  <div class="x">
    <a href="javascript:void(0)" class="logx" onclick="closeLogin()">&times;</a>
  </div>
      
    </div>
</div>