<div class="signup-popup" id="signup-popup">
  <div class="form-container">
  <div class="x">
    <a href="javascript:void(0)" class="logx" onclick="closeSignUp()">&times;</a>
  </div>
      <h2>Login</h2>
        
  </div>
</div>